.title{
    color: rgb(122, 103, 230);
    width: 100%;
    text-align: center;
}.title{
    color: rgb(93, 114, 230);
    width: 100%;
    text-align: center;
}

.wrapAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:  20px;
}

.wrapAll{
    color: #00ccff;
    padding: 15px 125px;
    border-radius: 999px;
    font-size: 22px;

}

.wrap{
    display: flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.wrapResps{
    background-color: rgba(83, 83, 83, 0.712);
    color: 000000;
    padding: 20px;
    border-radius: 10px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
    box-shadow: rgba(235, 235, 235, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
margin-top: 99px;
}

.wrapResps h2{
  font-size: 22px;
  color: rgb(0, 136, 255);

}

.wrapResps h3{
    font-size: 18;
    color: rgba(0, 0, 0, 0.603);
}
.title{
  margin-bottom: 50px;
  margin-top: 50px;
}